html, body{
	/* width: 100%; */
	height: 100%;
	/* border: 0; 
	padding: 0; */
	margin: 0; 
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: rgb(248, 248, 248);
	/* background-color:#160529; */
	
}

.carousel {
    margin: 0 auto;
    width:800px;
    height: 300px;
    display: relative;
  }
  .carousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }

#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: 50% 50% no-repeat #bb932f;
}

.alt{
	/* background-image: linear-gradient(to left top, #181160, #131055, #0f0f49, #0c0d3e, #0c0933); <-- other background color */
	/* background-image: linear-gradient(to right bottom, #150885, #230470, #27025c, #27034a, #230339); */
	background: url('../wood.jpg') ;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.altsoon2{
	background-image: linear-gradient(to right bottom, #150b7d, #191774, #1e1f6b, #242561, #292a56);
	/* background-image: linear-gradient(to right bottom, #150885, #230470, #27025c, #27034a, #230339); */
	/* background: url('../wood.jpg') ; */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ic{
	padding-top: 50px;
	letter-spacing: 2px;
	font-size: 1.5rem;
	text-align: center;
}

.alt2{
	font-family: 'Oleo Script', cursive;
	font-size: 3.5rem;
	text-align: center;
	color:rgb(214, 217, 224);
	text-shadow: 2px 2px  5px #36393b;
	padding-top: 30px;
	letter-spacing: 3px;
}

.alt2soon2{
	font-family: 'Oleo Script', cursive;
	font-size: 3.5rem;
	text-align: center;
	color:rgb(237, 238, 241);
	text-shadow: 2px 2px  5px #353636;
	padding-top: 50px;
	letter-spacing: 3px;
}

.desc{
	font-family: 'Courgette', cursive;
	color:rgb(214, 217, 224);
	font-size: 20px;
	text-shadow: 2px 2px  7px #404244;
	padding-top: -25px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.descsoon2{
	font-family: 'Courgette', cursive;
	color:rgb(237, 238, 241);
	font-size: 20px;
	text-shadow: 2px 2px  7px #404244;
	padding-top: -25px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.alt3{
	font-family: 'Courgette', cursive;
	font-size: ;
	
	text-align: center;
	color:whitesmoke;
	/* text-shadow: 2px 2px  9px #555c66; */
	padding-top: 200px;
}

.btn-default{
	background-color: transparent !important;
	border: 1px solid rgb(216, 216, 219) !important;
	border-radius: 0px !important;
}

.btn-default:hover{
	background-color: whitesmoke !important;
	color: rgb(104, 103, 103) !important;
	border: 1px solid whitesmoke !important;
	border-radius: 0px !important;
}

.btn-default:focus, .btn-default:active, .btn-default.active {
    background-color: rgb(202, 200, 200) !important; }

.show > .btn-default.dropdown-toggle {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: rgb(202, 200, 200) !important; }


.bing{
	position: fixed;
	left: 15px;
	font-size: 12px;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	color: rgb(133, 133, 133);
	/* font-family: 'Cookie', cursive; */
	text-align: center;
	padding-right: 30px;
	
}

.atas{
	margin-top: 90px;
}

.center {
	display: block;
	margin-left: 20px;
	margin-right: auto;
	padding-top: 20px;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #fff;
  }
.preloader .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font: 14px arial;
  }

nav li{
	padding-left: 7px;
	padding-right: 10px;
	/* tex;t-align:  */
	font-size: 14px;
	font-weight: 500;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link{
	color: #555;
	font-size: 15px;
}

.navbar1 {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	font-weight: 300; }

.navbar a{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #616161;
}

.navbar{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 60px;
	padding-right: 10px;
	background: #f2f2f2;
	transition: 0.5s;
}

.navbar-scroll{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
	font-weight: 700;
	font-size: 1.6rem;
	color: #33b5e5 !important;
}

.services-container .section-title{
	margin-top: 70px;
}

.navbar-nav a:hover{
	-webkit-box-shadow: inset 0px -3px 0px 0px #33b5e5;
	        box-shadow: inset 0px -3px 0px 0px #33b5e5;
}

.log{
	padding-top: 15px; 
	padding-left: 15px; 
	color:#757575 ;
}

.grey.darken-3{
	margin-top: 0px;
}

.container-main{
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

.wrapper{
	margin-bottom: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.bd{
	padding-left: 40px; 
}

.bd1{
	padding-left:30px; 
	margin-bottom: 15px;  
	border-right: 1px solid #424242;
}

.bd2{
	padding-left: 40px; 
	margin-bottom: 15px; 
	border-left: 1px solid#424242;
}

.img{

	margin-top: 25px;
	float: right;
}

.img2{

	text-align: center;
}

.wrapper img{
	max-width: 100%;
	width: 200px;
	height: auto;
	margin-top: 70px;
}

.text{
	margin-top: 140px;
	width: 500px;
	height: 100%;
	padding-right: 3px;
	padding-left: 45px;
}

h2{
	font-weight: 700;
}

h2, h6{
	color: #555;
}

.btn{
	text-transform: none;
	width: 150px;
	border-radius: 5px;
	box-shadow: none;
}

.btn:hover{
	/*box-shadow: none;*/
}

.btn-border{
	border: 2px solid #457fca;
	color: #457fca;
}

.btn-info{
	  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #457fca, #5691c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #457fca, #5691c8);
}


.btn-border:hover{
	color: #457fca;
}

h4{
	font-weight: 400;
}

.services-container{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.service{
	width: 300px;
	text-align: center;
}

.service-title{
	margin-top: 20px;
	text-align: center;
}

.service-1{
	background: url('../img/img2.jpg') center center;
	background-size: cover;
	margin: 0 auto;
}

.service-2{
	background: url('../img/img3.png') center center;
	background-size: cover;
	margin: 0 auto;
}

.service-3{
	background: url('../img/img4.jpg') center center;
	background-size: cover;
	margin: 0 auto;
}

.section-title{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 100px;
}

.service-img{
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
}

.service-desc, .service-title{
	padding-left: 15px;
	padding-right: 15px;
}

.service-desc{
	margin-top: 10px;
	height: 70px;
	text-align: center;
}

.services{
	margin-top: 30px;
	width: 1200px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 20px;
	padding-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #f2f3f4;
/*box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);*/
	height: 100%;
}

.services-container button{
	width: 80px;
	font-size: .6rem;
		  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #457fca, #5691c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #457fca, #5691c8);
  padding: 0;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.map{
	width: 100%;
	height: 700px;
	background: lightgrey;
}

.ft{
	width: auto; 
    padding-right: 25px;
}

 /* footer{
 	margin-top: 200px;
	background-color: #222;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	color: grey;
	font-weight: 500;
	font-size: 0.8rem;
	border-top: 2px solid lightgrey;
} */

/* .footer{
	justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
}  */

.form{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.box{
	width: 60px;
	height: 5px;
	background-color: #33b5e5;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* .footer-padding{
	padding-left: 120px;
	padding-right: 120px;
}
.footer-links{
	border-right: 2px solid grey;
}

footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

footer .form-control{
	background: none;
	border: 2px solid white;
}

footer a{
	color: grey;
	font-weight: 500;
}

footer i{
	margin-right: 10px;
}

footer li{
	padding-top: 10px;
	padding-bottom: 10px;
}

footer a:hover{
	color: #fff;
}

#footerr{
	padding: 20px;
	border-top: 0.5px solid lightgrey;
	width: 100%;
	height: 80px;
} */

@media(max-width: 900px){
	.navbar-nav a:hover{
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	.navbar-nav li{
	}

	.alt{
	
		background-image: url('../wood.jpg');
		height: 100%; 
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.alt2{
		font-family: 'Great Vibes', cursive;
		font-size: 3rem;
		text-align: center;
		color:whitesmoke;
		text-shadow: 2px 2px  5px #555c66;
		padding-top: 50px;
	}
	
	-webkit-.alt2{
		font-family: 'Great Vibes', cursive;
		font-size: 3rem;
		text-align: center;
		color:whitesmoke;
		text-shadow: 2px 2px  5px #555c66;
		padding-top: 50px;
	}
	
	.desc{
		font-family: 'Courgette', cursive;
		color:rgb(236, 230, 230);
		font-size: 15px;
		text-shadow: 2px 2px  7px #555c66;
		
		text-align: center;
		text-transform: capitalize;
	}
	.alt3{
		font-family: 'Courgette', cursive;
		font-size: ;
		
		text-align: center;
		color:whitesmoke;
		/* text-shadow: 2px 2px  9px #555c66; */
		padding-top: 50px;
	}
	
	.btn-default{
		background-color: transparent !important;
		border: 1px solid rgb(216, 216, 219) !important;
		border-radius: 0px !important;
	}
	
	.btn-default:hover{
		background-color: whitesmoke !important;
		color: rgb(104, 103, 103) !important;
		border: 1px solid whitesmoke !important;
		border-radius: 0px !important;
	}
	
	.btn-default:focus, .btn-default:active, .btn-default.active {
		background-color: rgb(202, 200, 200) !important; }
	
	.show > .btn-default.dropdown-toggle {
		-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		background-color: rgb(202, 200, 200) !important; }
	
	
	.bing{
		position: fixed;
		left: 15px;
		font-size: 12px;
		bottom: 0;
		width: 100%;
		background-color: transparent;
		color: rgb(133, 133, 133);
		/* font-family: 'Cookie', cursive; */
		text-align: center;
		padding-right: 30px;
		
	}

	.atas{
		margin-top: 55px;
	}

	.center {
		display: block;
		margin-left: 0px;
		margin-right: 0px;
		
	}


	.bd{
		padding-left: 40px; 
	}

	.bd1{
		padding-left:30px; 
		margin-bottom: 15px;  
		border-right: 0px solid	#424242;
	}

	.bd2{
		padding-left: 40px; 
		margin-bottom: 15px; 
		border-left: 0px solid #424242;
	}

	.navbar {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
		background: #f2f2f2;
			background-color: rgb(242, 242, 242);
		transition: 0.5s;
	}

	.wrapper{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
	}

	.img{

		margin-top: 25px;
		
	}

	.wrapper img{
		max-width: 100%;
		width: 700px;
		height: auto;
		margin-top: 0;
	}

	.tile{
		font-size: 15px;
		text-align: center;
		margin-top: -45px;
		text-transform: capitalize;
	}

	.text{
		margin-top: 10px;
		width: 100%;
		padding-right: 0;
	}

	.buttons{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
	}

	.btn{
		width: 210px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.container-main{
		padding-left: 10;
		padding-right: 10;
	}

	.services{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
	}

	.service{
		margin: 0 auto;
		margin-top: 50px;
		width: 250px;
	}

	.service-img{
		width: 250px;
		height: 200px;
	}

	/* footer{
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.footer-padding{
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-links{
		margin-bottom: 50px;
		margin-right: 0;
		border: none;
	} */

}
